*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Search{
    text-align: center;
    background-color: #1d87f7;
    width: 100%;
    height: 100%;
    padding: 10px;
    
}

.Search input[type='text']{
    width: 80%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
}

.Search input[type='submit']{
    text-align: center;
    width: 20%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    background-color:blue;
    color:white;
    cursor: pointer;
}

.Search img{
    width: 20%;
    padding: 20px;
    color: rgb(255, 255, 255);

}
.Search form{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.choice{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.result{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px ;
    text-align: center;
    align-items: center;
}
.value{
    font-size:20px ;
    border: 1px solid #ccc;
    width: 50%;
    padding: 20px;
}
.icone{
   /* border: 1px solid #ccc;*/
    width: 50%;
    padding: 20px;
}

.icone img{
    width: 200px;
    align-items: center;
    text-align: center;
    
}

footer{
    padding-top: 100px ;
    padding-bottom: 10px ;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(44, 35, 35);
}



